"donate"
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Donate</title>
 </head>
 <body>
   <h1>Type a Keyword to Search for Your Perfect Charity</h1>
   <form>
     <input type="text" name="key" placeholder="Enter Key Word">
     <input type="submit">
   </form>
     
 </body>
</html>