<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="css/donate.css" type="text/css">
  <title>Donate</title>
 </head>
 <body>
<!--    <h1>Type a Keyword to Search for Your Perfect Charity</h1>
   <form>
     <input type="text" name="key" placeholder="Enter Key Word">
     <input type="submit">
   </form> -->
   <div id="title">
     <center>
       <h1 id="title-name">Donate to Charities</h1>
     </center>
   </div>
   <div id ="text">
     <center>
   <li><a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=6115#.Vc4CUPlViko">CharityNavigator</a></li>
<img src="http://www.hopeinternational.org/assets/images/pages/about/charity-navigator.gif" alt="charitynavigator" height="250">
<li><a href="http://www.cfoa.org/">CFOA</a></li>
<img src="http://www.advent-im.co.uk/user/files/cfoa.jpg"alt="CFOA" height="250">
<li><a href="http://childrenswish.org/">ChildrensWish</a></li>
<img src="http://www.caw4304.ca/images/informer/1004-imagesAprilInformer/Childrens_Wish_button.jpg" alt="ChildrensWish" height="250">
<li><a href="http://www.ipcrems.com/thumbs/tfile_gall_1_6_large.jpg">iPCREMS</a></li>
<img src="http://www.nationalcancercoalition.org/images/logo_ncc.jpg" alt="NationalCancerCoalition" height="250">
<li><a href="http://www.charitabledonationsusa.com/donate.html">CHARITYDONATION</a></li>
<img src="http://www.trade-a-plane.com/company-search/get_company_logo?seller_id=67843" alt="CharitableDonationUSA" height="250">
   <li><a href="http://www.jdc.org/?referrer=https://www.google.de/">Joint Distrubition Committee</a></li>
<img src="http://archives.jdc.org/assets/images/about-the-archives/jdc_memorial_logos.jpg" alt="JDC" height="250">
<li><a href="https://awionline.org/content/aims-and-goals">AWIonline</a></li>
<img src="http://www.bovinevetonline.com/sites/protein/files/styles/archive_desktop/public/field/image/AWI%20logo.jpg?itok=ZScqCROr" alt="AWIonline" height="250">
<li><a href="http://www.bgca.org/Pages/index.aspx">BGCA</a></li>
<img src="http://i2.cdn.turner.com/dr/pga/sites/default/files/articles/BGCA_640x360.jpg" alt="BGCA" height="250">
<li><a href="http://thrivenetworks.org/">thrivenetwork</a></li>
<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/71138_150906948277879_3223465_n.jpg" alt="thrivenetwork" height="250">
<li><a href="https://www.edf.org/">EDF</a></li>
<img src="http://www.teentech.com/wp-content/uploads/2015/04/EDF_Logo_RGB_300_F.jpg" alt="EDF" height="250">

<li><a href="http://www.exploratorium.edu/about-us">EXPLORATORIUM</a></li>
<img src="http://www.exploratorium.edu/sites/default/files/site/explo_logo_236x72.gif" alt="EXPLORATORIUM" height="250">
<li><a href="http://www.foodandwaterwatch.org/">FoodandWater</a></li>
<img src="http://t0.gstatic.com/images?q=tbn:ANd9GcST7g5j5C7N5yyGqJpJ1GW8fYCootsX4KqHkcBCwbq2uhUKkCEz8pPopkQ" alt="FoodandWater" height="250">
<li><a href="http://semperfifund.org/">SemperFiFund</a></li>
<img src="https://semperfifund.org/wp-content/themes/sff/images/social_media.png" alt="SemperFiFund" height="250">
     </center>
   </div>  
     
 </body>
</html>