<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Helping Hand</title>
 </head>
 <body>
   <h1>Helping Hand</h1>
   <p>Have you ever wanted to help someone but didn't know how?  Helping Hand: 1. provides you with different ways to lend your time 2. credible organizations to donate money 3. options of friendly messages to brighten up your friend's day 4. up-to-date news on community service </p>
 </body>
</html>