<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>Helping Hand</title>
 </head>
 <body>
   <div id="title">
     <center>
     <h1 id="title-name">Helping Hand</h1>
     <h2>Have you ever wanted to help someone but didn't know how?</h2>
     <h3>Helping Hand provides you with:</h3>
     <ol>
       <li>Ideas as to How to Lend Your TIME</li>
       <li>Credible Organizations to DONATE Money</li>
       <li>Friendly MESSAGES to Brighten Your Friend's Day</li>
       <li>Up-To-Date NEWS on Community Service</li>
     </ol>
     </center>

   </div>
   <div id="pics">
     <center>
       
       <a href ='/time'><img src = "images/clock.png" width = 200 id="pic1"></a>
<!--        <img src="images/clock.png" width=200 id="pic1"> -->
       <a href ='/donate'><img src = "images/money.png" width = 200 id="pic2"></a>
     </center>
     <center>
       <a href ='/message'><img src = "images/mail.png" width = 200 id="pic3"></a>
       <a href ='/news'><img src = "images/News.png" width = 200 id="pic4"></a>
     </center>
   </div>

 </body>
</html>