<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
<head>
   <link rel="stylesheet" href="css/index.css" type="text/css">
   <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>Helping Hands</title>
 </head>
 <body>
   <div id="title">
     <center>
     <h1 id="title-name">Helping Hands</h1>
     <h2>Have you ever wanted to help someone but didn't know how?</h2>
       <h3><span id="title2">Helping Hands</span> provides you with:</h3>
    

       <li>Ideas as to How to Lend Your <span class="big-words">TIME</span></li>
       <li>Credible Organizations to <span class="big-words">DONATE</span> Money</li>
       <li>Friendly <span class="big-words">MESSAGES</span> to Brighten Your Friend's Day</li>
       <li>Up-To-Date <span class="big-words">NEWS</span> on Community Service</li>

     </center>

   </div>
   <div id="pics">
     <center>
       
       <a href ='/time'><img src = "images/clock.png" width=200 height=200 id="pic1"></a>
<!--        <img src="images/clock.png" width=200 id="pic1"> -->
       <a href ='/donate'><img src = "images/money2.png" width=200 height=200 id="pic2"></a>
     </center>
     <center>
       <a href ='/message'><img src = "images/mail.png" width=200 height=200 id="pic3"></a>
       <a href ='/news'><img src = "images/News.png" width=200 height=200 id="pic4"></a>
       <a href ='/recycle'><img src = "images/Recycle.png" width=200 height=200 id="pic5"></a>
     </center>
   </div>

 </body>
</html>