
"message"

<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/message.css" type="text/css">
  <title>Message</title>
 </head>
 <body>
   <form method="Post" action="/message2"> 
     <input type="text" name="user" placeholder="Your Name">
     <input type="text" name="friend" placeholder="Your Friend's Name">
     <input type="submit">
   </form>

   <div id="title">
     <center>
     <h1 id="title-name">Send a friend a message</h1>
     <h2>Cheer up your friend with a personal prewritten message</h2>
     </center>
   </div>
   
   <div id="buttons">
     <center>
       <form method="Post" action="/message2" class="button">
          <input type= "button" name= "name" class="button" id= "button1">
          <input type= "button" name= "breed" class="button" id= "button2">
          <input type= "button" name= "age" class="button" id= "button3">
       </form>
     </center>
   </div>
    
 </body>
</html>