<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="css/message.css" type="text/css">
  <title>Message a Friend</title>
 </head>
 <body>
   <div id="title2">
     <center>
     <h1 id="title-name2">Send a friend a message</h1>
     <h2>Cheer up your friend with a personal prewritten message</h2>
     </center>

   </div>
   <div id="buttons">
     <center>
   <form action="http://google.com">
    <input type="submit" value="Complient apperance" class= "button">
    </form>
   <form action="http://google.com">
     <input type="submit" value="Praise personality" class= "button">
    </form>
    <form action="http://google.com">
     <input type="submit" value="Bright Future" class= "button">
    </form>
       </center>
   </div>
    
 </body>
</html>