"message"
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Message</title>
 </head>
 <body>
   <form> 
     <input type="text" name="user" placeholder="Your Name">
     <input type="text" name="friend" placeholder="Your Friend's Name">
     <input type="submit">
   </form>

 </body>
</html>