<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 <link rel="stylesheet" href="css/message.css" type="text/css">
  <title>Message</title>
 </head>
 <body>
   <form method="Post" action='/message2'> 

   </form>

   <div id="title">
     <center>
     <h1 id="title-name">Message a Friend</h1>
     <h2>You can help change the world in big and small ways<br>Brighten your friend's day with a personalized prewritten message</h2>
     </center>
   </div>
   
   <div id="text">
     
     <center> 
       <h3>Enter your name as well as your friend's name and phone number<br>Choose one of the message categories and we'll generate a nice message and send it to your friend</h3>
      <form method="Post" action='/message2'>
          <input type="text" name="user" placeholder="Your Name">
          <input type="text" name="friend" placeholder="Your Friend's Name">
          <input type="number" name="phone_number" placeholder="Phone Number">
          <input type="submit" name="button" value="Compliment Appearance" class= "button" id= "button1">
          <input type="submit" name="button" value="Praise Personality" class= "button" id= "button2">
          <input type="submit" name="button" value="Destined for Greatness" class= "button" id= "button3">
          
       </form>
       </center>
   </div>
    
 </body>
</html>