"news"
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="css/news.css" type="text/css">
  <title>News</title>
 </head>
 <body>
   <div id="title">
     <center>
     <h1 id="title-name">Community Service News</h1>
     <h2>Check out the great ways other people are helping out their community</h2>
 
     </center>

   </div>
   <div>
     <center>
     <h2>Stories</h2>
       </center>
   </div>

 </body>
</html>