<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="css/news.css" type="text/css">
  <title>News</title>
 </head>
 <body>
   <div id="title">
     <center>
     <h1 id="title-name">Community Service News</h1>
     <h2>Check out the great ways other people are helping out their community</h2>
 
     </center>

   </div>
   
   <div id = "Second-Block">
     <center>
       <h2 id ="story">Stories</h2>
       <a href="http://www.gysd.org/sharing_breakfast" class="hyper">Sharing breakfest with the homless</a>
       <a href="http://www.gysd.org/real_life_superhero" class="hyper">Super Ewan</a>
       <a href="http://www.rd.com/family/giving-dogs-and-love-to-kids-with-cancer/" class="hyper">Giving dogs and love to kids with Cancer</a>
       <a href="http://www.macon.com/news/local/article30926712.html" class="hyper">Toys for work!</a>
       <h2>Enter community service or charity hashtags below to see relevent tweets</h2>
       
       <form method='post' action='/tweet_results'>
        <input type="text" name="hashtag" placeholder="hashtag">
        <input type="submit">
        <img src="images/twitter.png" class ="twit">
     </form>
       
     </center>
     
     
   </div>
  
 </body>
</html>