<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="css/recycle.css" type="text/css">
  <title>Recycling</title>
 </head>
 <body>
   <div id="title">
     <center>
     <h1 id="title-name">Recycling</h1>
     </center>
   </div>
    <div id="text">
      <center>
        <h2>Check out some great ways to recycle!</h2>
        <a href="http://www.kidzworld.com/article/26804-top-10-ways-to-recycle" class="hyper">Ways to recycle</a>
        <img src="images/pic1.jpg">
       <a href="http://www.treehugger.com/htgg/how-to-go-green-recycling.html" class="hyper">Improve your recycling</a>
        <img src="images/pic2.jpg">
        <a href="http://www.recycling-guide.org.uk/recycle.html" class="hyper">Guide to recycling</a>
        <img src="images/pic3.jpg">
        <a href="http://www.50waystohelp.com" class="hyper">Help the Planet</a>
        <img src="images/pic4.jpg">
        <a href="http://ehs.columbia.edu/ReduceReuseRecycle.html" class="hyper">Reduce, reuse, recycle</a>
        <img src="images/pic5.jpg">
      </center>
   </div>
   </body>
</html>