<!DOCTYPE html>
<html>
  <head>
 <title>Ways to spend</title>
     <meta charset="UTF-8">
   <link type = "text/css" rel = "stylesheet" href = "css/time.css">
  </head>
 <body id="pics">
   <h1 id="title">Ways to spend</h1>
  
   
  


   <ul>
  <li><a href="https://www.foodbanknyc.org/index.cfm?objectid=481F5C69-3048-651A-20DF373F26780C08"> soup kitchen</a></li>
       <img src="http://unitycenternorwalk.org/wp-content/uploads/soup.jpg" alt="Soup Kitchen" height="250">
  <li> <a href="http://www.readingtokids.org/Home/main.php"> reading to kids</a></li>
    <img src="http://www.dyslexia.ie/wp-content/uploads/2011/01/Reading-together.jpg" alt="Reading to kids" height="250">
  <li>  <a href="https://www.justgive.org/donations/help-homeless.jsp"> helping homeless people</a></li>
    <img src="http://i.ytimg.com/vi/SYMUT9zN62k/maxresdefault.jpg" alt="HelpingHomelessPeople" height="250">
  </ul> -->
   
  
</body>
</html>
