<<<<<<< HEAD
"time"
=======
>>>>>>> 5e146a775674667e9f3609342104fbeaa1ff056d
<!DOCTYPE html>
<html>
  <head>
 <title>Ways to spend time</title>
     <meta charset="UTF-8">
   <link type = "text/css" rel = "stylesheet" href = "css/time.css">
  </head>
 <body id="pics">
   <h1 id="title">Ways to spend time</h1>
  
   
  


   <ul>
  <li><a href="https://www.foodbanknyc.org/index.cfm?objectid=481F5C69-3048-651A-20DF373F26780C08"> soup kitchen</a></li>
       <img src="http://unitycenternorwalk.org/wp-content/uploads/soup.jpg" alt="Soup Kitchen" height="250">
  <li> <a href="http://www.readingtokids.org/Home/main.php"> reading to kids</a></li>
    <img src="http://www.dyslexia.ie/wp-content/uploads/2011/01/Reading-together.jpg" alt="Reading to kids" height="250">
  <li>  <a href="https://www.justgive.org/donations/help-homeless.jsp"> helping homeless people</a></li>
    <img src="http://i.ytimg.com/vi/SYMUT9zN62k/maxresdefault.jpg" alt="HelpingHomelessPeople" height="250">
  <li>
    <a href="http://www.brooklynfoodcoalition.org/"> BrooklynFoodCoalition</a></li>
     <img src="http://www.communitypartners.org/sites/default/files/images/project_logos/3.jpg" alt="BFC" height="250">
     <li>  <a href="http://www.cityharvest.org/"> city harvest</a></li>
     <img src="http://www.conferenceofchurches.org/v2/images/CityHarvestLogo.JPG"alt="city harvest" height="250">
     
     <li> <a href="http://www.justfood.org/">JustFood</a></li>
     <img src="http://franklinton.uccpages.org/images/FCAB-Just-Food-Project-150x150.jpg" alt="JustFood" height="250">
     <li>   <a href="https://www.glynwood.org/">Glynwood</a></li>
     <img src="https://www.glynwood.org/wp-content/uploads/2015/02/training-thumbnail-550x500.jpg" alt="Glynwood" height="250">
     <li>   <a href="http://www.sustynyc.org/">SUSTYNYC</a></li>
     <img src="http://www.sustynyc.org/wp-content/uploads/2013/07/SUSTY-Logo-Elongated-2.png" alt="sustynyc" height="250">
     <li>    <a href="http://wfpusa.org/">WorldFoodProgram</a></li>
     <img src="http://wfpusa.org/sites/default/files/styles/video_pane_full/public/video_pane/wfp_home_0.jpg?itok=n5SgZpSB" alt="WFPUSA" height="250">
     <li> <a href="http://www.feedingamerica.org/">FeedingAmerica</a></li>
            <img src="http://blog.freedommortgage.com/wp-content/uploads/2013/09/Jump-Size-Is-Not-A-Real-Measurement_v1-590x260.jpg" alt="FeedingAmerica" height="250">
     <li><a href="http://www.barillacfn.com/en/">CFN</a></li>
     <img src="http://www.barillacfn.com/wp-content/uploads/2015/03/2015-03-09_carousel_eng.jpg" alt="CFN" height="250">
     <li><a href="http://cfccanada.ca/good-food-organizations/">CFCanada</a></li>
     <img src="http://cfccanada.ca/sites/default/files/styles/large/public/GFOs_logo_4c-NoSubtitle-300pix.png?itok=-LcKgK-f" alt="CFCanada" height="250">
     <li><a href="https://www.christensenfund.org/">Christenfund</a></li>
     <img src="https://www.christensenfund.org/wp-content/uploads/2015/04/tcf_applying.jpg" alt="Christensenfund" height="250">
     <li><a href="http://www.ecoagriculture.org/">Ecoagriculture</a></li>
     <img src="http://kenya.ecoagriculture.org/images/image.php%3FimageID%3D4" alt="Ecogriculture" height="250">
     <li><a href="http://www.goodplanet.org/en/">GoodPlanet</a></li></li>
   <img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQNZ16BHjurbzR04IohcSzIvFPQxp-Y1TbqLgVxj6jJyUDfPkT0OGtJMgE" alt="Goodplanet" height="250">
   <li>  <a href="http://www.millennium-institute.org/">MilleniumInstitut</a></li>
   <img src="http://www.millennium-institute.org/images/masthead.jpg" alt="http://www.millennium-institute.org/images/masthead.jpg" height="250">
   
   <li><a href="http://avrdc.org/">AVRDC</a></li>
  <img src="http://avrdc.org/wp-content/uploads/2015/07/Logo_full_66x317.png" alt="AVRDC" height="250">
   <li> <a href="http://site.foodshare.org/site/PageServer?pagename=index">FoodShare</a></li>
   <img src="http://plovdiv.startupweekend.org/files/2013/10/food-share.jpg" alt="WFP" height="250"> 
   <li> <a href="http://www.fao.org/home/en/">Food and Agriculture</a></li>
   <img src="http://www.accessgambia.com/biz1/large/fao-logo.jpg" alt="Food and Agriculture" height="250">
   <li> <a href="https://www.slowfoodusa.org/">SlowFoodUSA</a></li>
   <img src="http://slowfooddenver.org/wp-content/uploads/2013/09/joinsnail.png"alt="SlowwfoodUSA" height="250">
   <li> <a href="http://www.worldvision.org/">WorldVision</a></li>
   <img src="http://www.pape.de/awp/wp-content/uploads/2015/02/logo-world-vision.png" alt="WorldVision" height="250">
   <li> <a href="http://www.who.int/en/">WHO</a></li>
   <img src="http://blog.phoneslimited.co.uk/files/2011/06/who-logo-final-7-final.bmp" alt="WHO" height="250">
</body>
</html>
