"time"
<!DOCTYPE html>
<html>
  <head>
 <title>Ways to spend time</title>
     <meta charset="UTF-8">
   <link type = "text/css" rel = "stylesheet" href = "css/time.css">
  </head>
 <body id="pics">
   <h1 id="title">Ways to spend time</h1>
  
   
  


   <ul>
  <li><a href="https://www.foodbanknyc.org/index.cfm?objectid=481F5C69-3048-651A-20DF373F26780C08"> soup kitchen</a></li>
       <img src="http://unitycenternorwalk.org/wp-content/uploads/soup.jpg" alt="Soup Kitchen" height="250">
  <li> <a href="http://www.readingtokids.org/Home/main.php"> reading to kids</a></li>
    <img src="http://www.dyslexia.ie/wp-content/uploads/2011/01/Reading-together.jpg" alt="Reading to kids" height="250">
  <li>  <a href="https://www.justgive.org/donations/help-homeless.jsp"> helping homeless people</a></li>
    <img src="http://i.ytimg.com/vi/SYMUT9zN62k/maxresdefault.jpg" alt="HelpingHomelessPeople" height="250">
  <li>
  <a href="http://www.brooklynfoodcoalition.org/"> BrooklynFoodCoalition</a>
     <img src="http://www.communitypartners.org/sites/default/files/images/project_logos/3.jpg" alt="BFC" height="250"><li>
     <li>  <a href="http://www.cityharvest.org/"> city harvest</a></li>
     <li>    <a href="http://www.foodsystemsnyc.org/">foodsystem</a></li>
     <li> <a href="http://www.justfood.org/">JustFood</a></li>
     <li>   <a href="https://www.glynwood.org/">Glynwood</a></li>
     <li>   <a href="http://www.sustynyc.org/">SUSTYNYC</a></li>
     <li>    <a href="http://wfpusa.org/">WorldFoodProgram</a></li>
     <li><a href="http://www.feedingamerica.org/?referrer=https://www.google.de/">FeedingAmerica</a></li>
     <li><a href="http://www.barillacfn.com/en/">CFN</a></li>
     <li><a href="http://www.centerforfoodsafety.org/">CenterForFood</a></li>
     <li><a href="https://www.christensenfund.org/">Christenfund</a></li>
     <li><a href="http://www.ecoagriculture.org/">Ecoagriculture</a></li>
     <li><a href="http://www.goodplanet.org/en/">GoodPlanet</a></li></li>
   <li>  <a href="http://www.millennium-institute.org/">MilleniumInstitut</a></li>
   <li><a href="http://avrdc.org/">AVRDC</a></li>
  
</body>
</html>