<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="css/tweet_results.css" type="text/css">
    <title>Tweet Results</title>
  </head>
  <body>
    <div>
      <h1 id="title-name">Tweet Results</h1>
    </div>
    <div id="Second-Block">
      <h2>Tweets about #<%= @user_search.request %></h2>
    <img src="images/twitter.png">
    </div>
  </body>
</html>

























