#title{
  background-color:#99FF99;
  margin: -20px;
  border-style:solid;
  border-width:2px;
  border-color:#00CC00;
}
#title-name{
    font-family:'Patua One';
}
#text{
  background-color:turquoise;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  border-width:2px;
  border-style:solid;
  border-color:#0033CC;
}