@import url(http://fonts.googleapis.com/css?family=Patua+One);
#title{
  background-color:#99FF99;
  margin: -20px;
  border-style:solid;
  border-width:2px;
  border-color:#00CC00;
   
}
#title-name2{
    font-family:'Patua One';
}
#text{
  background-color:turquoise;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  border-width:2px;
  border-style:solid;
  border-color:#0033CC;
}
.button{
  width: 150px;
  height: 100px;
  background-color: white;
  display: block;
  margin-top: 20px;
  
}
#button1{

    left: +550px ;
    top: +300px;

   
    
}
#button2{

    left: +550px;
    top: +400px;
}
#button3{

    left: +550px;
    top: +500px;
}
