@import url(http://fonts.googleapis.com/css?family=Patua+One);
#title{
  background-color:#99FF99;
  margin-bottom: -20px;
}
#title-name2{
    font-family:'Patua One';
}
#text{
  background-color:turquoise;
  margin: 0px;
  padding: 20px;
}
.button{
  width: 150px;
  height: 100px;
  background-color: white;
  display: block;
  margin-top: 20px;
  
}
#button1{
/*   position: fixed; */
    left: +550px ;
    top: +300px;
   
    
}
#button2{
/*   position: fixed; */
    left: +550px;
    top: +400px;
}
#button3{
/*   position: fixed; */
    left: +550px;
    top: +500px;
}
