h1 { 
  color: black;
}
li{
  font-size: 30px;
}
@import url(http://fonts.googleapis.com/css?family=Patua+One);
#title{
  margin-bottom:0px; 
  background-color:#99FF99;
  margin-bottom:0pt;
  margin-top:0pt;
  border-style:solid;
  border-width:2px;
  border-color:#00CC00;
}
#title-name{
  font-family:'Patua One';
  font-size:40pt;
  margin-bottom:0pt;
  margin-top:0pt;
}
#title2{
/*    font-family:'Patua One'; */
}
#links{
  background-color:turquoise;
  margin-top:0px;
  border-width:2px;
  border-style:solid;
  border-color:#0033CC;
}
.big-words{
  font-size:20pt;
  color:red;
}