@import url(http://fonts.googleapis.com/css?family=Patua+One);
#title-name{
    margin: -10px;
    background-color:#99FF99;
/*     font-family:'Patua One'; */
    border-style:solid;
    border-width:2px;
    border-color:#00CC00;
}
#Second-Block{
  background-color: turquoise;
  border-width:2px;
  border-style:solid;
  border-color:#0033CC;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  padding-top: 20px;
}
#words{
  margin: 20px;
  margin-top:0px;
  margin-bottom:0px;
  padding:20px;
}
#words2{
  margin: 10px;
  margin-top:0px;
  padding-left:20px;
}
#label{
  color:blue;
  padding-bottom:0px;
}
#tweet_user{
  border-style: solid;
  border-width:2px;
  border-color: white;
  margin-top:20px;
  margin-bottom:20px;
  background-color:#B2FFFF;
}